{
   "printWidth": 120,
   "tabWidth": 3,
   "semi": true,
   "singleQuote": false,
   "quoteProps": "as-needed",
   "jsxSingleQuote": false,
   "trailingComma": "all",
   "bracketSpacing": true,
   "bracketSameLine": false,
   "arrowParens": "always",
   "singleAttributePerLine": false
}
