* {
   padding: 0;
   margin: 0;
}

body {
   background-color: rgb(0, 9, 14);
   color: white;
}

.gradient-text1 {
   background-image: linear-gradient(90deg, rgb(80, 170, 120), rgb(201, 150, 40), rgb(190, 80, 80));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.gradient-text2 {
   background-image: linear-gradient(90deg, rgb(255, 250, 230), rgb(255, 245, 205), rgb(255, 200, 200));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.textCross {
   text-decoration: line-through;
}

/* ** i tag ** */

i {
   cursor: pointer;
}

.toDoInput i {
   font-size: large;
   color: rgb(84, 84, 84);
}

.container i {
   font-size: larger;
   margin-top: 0.16rem;
}

.container .toDo .bin i {
   color: rgb(69, 69, 69);
}

.container .toDo .close i {
   color: brown;
}

.container .toDo .tick i {
   color: seagreen;
}

.container .toDo .recycle i {
   color: rgb(46, 75, 164);
}

/* ** Headings ** */

.headings {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.headings .mainHeading {
   text-align: center;
   margin-top: 2rem;
   color: white;
}
.headings .mainHeading h1 {
   font-size: 3rem;
   font-family: "Macondo", cursive;
}

.headings .subHeading {
   text-align: center;
}
.headings .subHeading h2 {
   font-size: 2rem;
   font-family: "Shalimar", cursive;
}

/* ** ToDO Input ** */

.inputForm {
   width: 30%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 2px 1px rgb(255, 255, 255);
   margin: auto;
   margin-top: 1rem;
   border-radius: 0.25rem;
   padding: 2px 0;
   display: flex;
}
.inputForm .input {
   width: 100%;
   padding: 1px 8px 0 2px;
}
.inputForm .input textarea {
   width: 100%;
   font-family: "Architects Daughter", cursive;
   resize: vertical;
   font-size: 1.2rem;
   line-height: 1.5rem;
   outline: none;
   border: none;
   border-radius: 0.25rem;
   padding: 2px;
   padding-left: 3px;
   min-height: 4.5rem;
   margin-bottom: -4px;
}
.inputForm .input-btns {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-right: 5px;
}
.inputForm .input-btns > * {
   border: none;
   outline: none;
   background-color: transparent;
   margin: 8px 0;
}
.inputForm .input-btns > * i {
   font-size: 1.4rem;
}

/* ** Container ** */

.container {
   height: 100%;
   width: 30%;
   float: left;
   margin-top: 1.5rem;
   margin-left: 2.5%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 0.25rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 2rem;
}

.container .heading {
   color: black;
   font-family: "Architects Daughter", cursive;
}

.container .toDo {
   width: 92%;
   height: 100%;
   background-color: rgb(241, 241, 241, 0.2);
   margin-top: 0.5rem;
   padding: 5px;
   border-radius: 0.25rem;
   transition: width 200ms;
}

.container .toDo:hover {
   background-color: rgba(241, 241, 241, 0.313);
   width: 95%;
}

.container .toDo .top p {
   color: black;
   word-wrap: break-word;
   text-align: justify;
   line-height: 1.6rem;
   font-size: 1.2rem;
   font-family: "Architects Daughter", cursive;
   white-space: pre-wrap;
}

.container .toDo .bottom {
   display: flex;
   justify-content: space-between;
   padding-top: 2px;
}
.container .toDo .bottom p {
   font-size: 0.9rem;
   cursor: default;
   color: rgba(0, 0, 0, 0.5);
   font-family: "Stylish", sans-serif;
}

/* ** Container Completed ** */

.container.done {
   background-color: seagreen;
   box-shadow: 0 0 2px 2px seagreen;
}

.container.done .toDo {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
}

.container.done .toDo .top {
   width: 25.5vw;
}

.container.done .toDo .left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container.done .toDo .right {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

/* ** Container Progressing ** */

.container.onGoing {
   background-color: darkgoldenrod;
   box-shadow: 0 0 2px 2px darkgoldenrod;
}

.container.onGoing .toDo {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
}

.container.onGoing .toDo .top {
   width: 24vw;
}

.container.onGoing .toDo .left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container.onGoing .toDo .right {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

/* ** Container Dropped ** */

.container.dropped {
   background-color: brown;
   box-shadow: 0 0 2px 2px brown;
}

.container.dropped .toDo {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
}

.container.dropped .toDo .top {
   width: 23.5vw;
}

.container.dropped .toDo .left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container.dropped .toDo .right {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

/* ** media queries for setting width of 'toDo' between 950px and 430px display ** */

@media only screen and (max-width: 950px) and (min-width: 430px) {
   .container.done .toDo .top {
      width: 23vw;
   }
   .container.onGoing .toDo .top {
      width: 18.5vw;
      margin-left: 1vw;
   }
   .container.onGoing .toDo .bottom {
      width: 18.5vw;
      margin-left: 1vw;
   }
   .container.dropped .toDo .top {
      width: 19vw;
      margin-left: 1vw;
   }
   .container.dropped .toDo .bottom {
      margin-left: 1vw;
   }
}

/* ** media queries for setting width of 'toDoInput' below 800px display ** */

@media only screen and (max-width: 800px) {
   .inputForm {
      width: 95%;
   }
}

/* ** media queries for setting width of 'container, toDo' below 430px display ** */

@media only screen and (max-width: 430px) {
   .container {
      width: 94.82%;
   }
   .container.done .toDo .top {
      width: 80vw;
   }
   .container.onGoing .toDo .top {
      width: 70vw;
   }
   .container.dropped .toDo .top {
      width: 70vw;
   }
}
