* {
   padding: 0;
   margin: 0;
}

body {
   background-color: rgb(0, 0, 0);
}

.mainHeading {
   text-align: center;
   margin-top: 2rem;
   color: white;
}

.subHeading {
   text-align: center;
   color: white;
}

.toDoInput {
   width: 24.7rem;
   height: 3.5rem;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 2px 1px rgb(255, 255, 255);
   margin-top: 1rem;
   margin-left: 30rem;
   border: none;
   border-radius: .25rem;
   display: grid;
   grid-template-columns: 90% 10%;
}

.toDoInput .left input {
   width: 100%;
   height: 97%;
   margin-top: .04rem;
   border-radius: .25rem;
   border-color: transparent;
   outline-color: transparent;
   font-size: x-large;
   padding-left: .3rem;
   border: unset;
}

.toDoInput .right {
   display: flex;
   justify-content: center;
   align-items: center;
}

.toDoInput .right i {
   font-size: x-large;
   color: rgb(0, 0, 0);
}

.app i {
   cursor: pointer;
   font-size: larger;
   font-weight: 900;
   color: grey;
}

.container {
   height: 100%;
   width: 25rem;
   float: left;
   margin-top: 2rem;
   margin-left: 2.5rem;
   border-radius: .25rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.container.deleted {
   background-color: brown;
   box-shadow: 0 0 2px 2px brown;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container.deleted .todo {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
}

.container.deleted .todo .right {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}
.container.deleted .todo .rightEnd {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container.deleted .todo .right i {
   margin-left: -1.1rem;
   color: royalblue;
}
.container.deleted .todo .rightEnd i {
   margin-top: .16rem;
   color: rgb(69, 69, 69);
}
.container.deleted .todo.lite .top p {
   width: 19rem;
   word-wrap: break-word;
}

.container.progressing {
   background-color: darkgoldenrod;
   box-shadow: 0 0 2px 2px darkgoldenrod;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container.completed {
   background-color: seagreen;
   box-shadow: 0 0 2px 2px seagreen;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container.completed .todo .right i {
   margin-left: 1.1rem;
   color: rgb(69, 69, 69);
}

.container.completed .todo .right {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container .top p {
   width: 20.2rem;
   word-wrap: break-word;
}

.container .todo.lite .top p {
   width: 23rem;
   word-wrap: break-word;
}

.container.progressing .todo {
   width: 23rem;
   height: 100%;
   background-color: rgb(241, 241, 241, 0.2);
   margin-top: .5rem;
   padding: 5px;
   border-radius: .25rem;
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
}

.container .todo.lite {
   width: 23rem;
   height: 100%;
   background-color: rgb(241, 241, 241, 0.2);
   margin-top: .5rem;
   padding: 5px;
   border-radius: .25rem;
   display: grid;
   grid-template-rows: auto auto;
}

.container .todo.lite .left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container .todo .left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container .todo .left i {
   cursor: pointer;
   float: left;
   margin-top: .16rem;
   margin-right: .4rem;
   color: seagreen;
}

.container .todo .top {
   width: 20.2rem;
   text-align: justify;
}

.container .todo .top p {
   font-size: large;
   font-weight: 700;
   font-style: normal;
   color: rgb(0, 0, 0);
   float: left;
}

.container .todo .bottom {
   width: 21rem;
}

.container .todo .bottom p {
   font-size: small;
}

.container .todo .right {
   /* display: flex;
   justify-content: center;
   align-items: center; */
   margin-left: -0.5rem;
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}

.container .todo .right i {
   color: brown;
   cursor: pointer;
   margin-top: .16rem;
}

.textCross {
   text-decoration: line-through;
}